@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background-image: url("./images/nationalpark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

#video {
  margin: 0 auto;
  display: block;
  padding-top: 10%;
  border-radius: 10%;
}

#searchTitle {
  color: white;
}

#homeTitle {
  color: black;
  text-align: center;
  font-size: 50px;
  background-color: lightblue;
  border-radius: 20px;
  padding-top: 4%;
  opacity: 60%;
  border: black;
  font-family: "Lobster", cursive;
  border-color: black;
  border-style: dotted;
}

.card-img-top {
  height: 534px;
  width: 300px;
}

.navbar {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: cornsilk;
  font-size: 20px;
  font-weight: 100;
  font-family: "Lobster", cursive;
}
.navbar li {
  display: inline;
}
.navbar a {
  display: inline-block;
  padding: 10px;
  color: black;
}

.navbar li:hover a {
  color: #eeede7;
}

#signup {
  font-family: "Lobster", cursive;
}

#signupform {
  padding-top: 35px;
  opacity: 65%;
  text-align: center;
  padding-left: 35px;
}
